<?xml version='1.0' encoding='utf-8'?>
<widget id="com.adobe.phonegap.app" version="1.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>JSON AJAX Test</name>
    <description>
      A Sample Project.
	  </description>
    <author email="satya4satyanm@gmail.com" >
      satya
    </author>
    <content src="www/index.html" />
    <access origin="*" />
</widget>
